.main-nav-left {
    display: flex;
    flex-direction: column;
}
.left-menu div {
    list-style: none;
    border: 2px solid black;
    height: 100%;
    width: 80%;
    padding: 10px;
    font-size: 50px;
}
.left-menu div:hover {
    background-color: grey;
    color: white;
}
.left-menu a {
    text-decoration: none;
}
